
.banner-title {
    font-family: "Poppins", sans-serif;
    align-items: start;
    font-size: 25px;
    color: #6a7e6e;
    text-align: left;
    margin: 2px;
    margin-bottom: 10px;
    display: flex;
}

.button-add {
    background-color: #547255;
    color: #fff;
    border-radius: 10px;
    width: 15%;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-left: 23px;
    text-align: left;
    
}

.button-add:hover {
    background-color: #4392F6;
    color: white;
}
.banner-card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
    height: 350px;
    padding-bottom: 20px;
    color: black;
    margin-bottom: 20px;
    
    }
.banner-image{
    width: 100%;
    height:220px;
    display: block;
}
.banner-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 7px;
    text-align: left;
    margin-left: 10px;
   


  }

.banner-button {
    border-color: #547255;
    background-color: #547255;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 25%;
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
    padding: 3px;
    margin: 3px;
    
    justify-content: center;
    
}


.banner-button:hover {
    background-color: #fff;
    color: #547255;
}

.banner-description {
    font-size: 14px;
    text-align: left;
    margin: -2px;
    margin-left: 10px;
   }
    

  .trip-info-color-1 {
    background-color: #4392F6;
    color: black;
  }
  
  .trip-info-color-2 {
    background-color: #e2d6ba;
    color: black;
  }
  
  .trip-info-color-3 {
    background-color: #e2d6ba;
    color: black;
  }
  
  .trip-info-color-4 {
    background-color: #547255;
    color: #fff;
  }

  .trip-info-color-5 {
    background-color: #547255;
    color: #fff;
  }
  
  .trip-info-color-6 {
    background-color: #547255;
    color: #fff;
  }
  
  .trip-info-color-7 {
    background-color: #d5d2cd;
    color: black;
  }
  
  .trip-info-color-8 {
    background-color: #4392F6;
    color: black;
  }

  .form-control2 {
    border-radius: 20px;
    height:25px;
    width: 50%;
    margin: 10px;
    padding-left: 10px;
    margin-top: 20px;
    cursor: pointer;

  } 

  